<h1>Looking for Jobs as An Volunteer</h1>
<h3>Page: <%= @page %></h3>
<p>
Show: (<%= @capacity %>)
<% for cap in [5, 10, 20, 30, 50] %>
	| <%= link_to cap, jobs_path([1,cap])%>
<% end %>
</p>
<% 1.upto(@maxpage) do |x| %>
	<%= link_to x, jobs_path([x, @capacity]) %>
<% end %>

<table width="780">
  <thead>
    <tr>
      <th>編號</th>
      <th>志工服務</th>
      <th>更新日期</th>
      <th>地點</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= link_to job.jobname, job %></td>
        <td><%= job.postdate.strftime("%m/%e, %Y") %></td>
        <td><%= job.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
